/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }



.carouselComment{
  height: 500px;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  /*margin-right: 10px;*/
  background: #032b2f;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;

  line-height: 200px;
  font-size: 80px;
  color: white;
}

#comment{
  padding: 0px;
}

.comment1{
  color: white;


  top:18%;
  margin-left: 8%;
  margin-right: 8%;
}

.quote{
  font-size: 60px;
  text-align: center;

}

.name{
  position: relative;
  left:60%;
  margin-top: 5%;
  font-style: italic;
  font-family:cursive;
}
