/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.commentItem{
  background-color: #032b2f;
  height: 500px;
}

#comment{
  padding: 0px;
}

.comment1{
  color: white;

  padding-top:5%;
  top:18%;
  margin-left: 8%;
  margin-right: 8%;
}

.quote{
  font-size: 60px;
  text-align: center;
}

.name{
  position: relative;
  left:60%;
  margin-top: 5%;
  font-style: italic;
  font-family:cursive;
}
