#organizations{
  background-color: #032b2f;
  padding-top: 0px !important;
}

.arrowKey{
  position: relative;
  bottom: 400px;
  width: 20%;
  left: 80%;
  border-width: 0px;
  border-style: none;
}
