#projects
{
  background-color: #032b2f;
  padding-top: 1em;
}

.carousel-inner{
  height: 100%;
}

.item{
  height: 100%;
}

.projectTitle{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.9em;
  padding-top: 0em;
  margin-top: 0em;
  color: white;
  display: inline;
  margin-left: 4%;

}

.navigation{
  margin-top: 100px;
  background-color:#032b2f !important;
  opacity: 0.86;

}

.ProjectContainer{
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px;
}

#card{
  position: absolute;


}

.front
{

}

.back
{


}

.modal-content
{

  background-color:rgba(226, 180, 154, 0.5)



}

.lr{
  background-color: white !important;
}

.rl{
  background-color: white !important;
}

.blur{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.scaleImg{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);

}

.increaseFontSize{

  color : white !important;
}

.navTransitionEffect{
  filter: blur(70px);
   transition: filter 1.4s

}

.disapper{
  display: none;
  /*position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;*/
}

.currentTab{
  color: white !important;
}
